.footer {
  height: 150px;
  background-color: #dde0ea;
}

.contents {
  width: 100%;
  max-width: 1500px; /* 전체 푸터의 최대 너비를 설정 */
  height: 100%;
  display: flex;
  align-items: center; /* 수직 가운데 정렬 */
  justify-content: space-between; /* 양 끝에 배치 */
  margin: 0 auto;
  padding: 0 20px; /* 왼쪽과 오른쪽에 약간의 패딩을 추가 */
}

.copyright {
  font-size: 12px;
  text-align: right;
  white-space: pre-wrap; /* 줄바꿈 허용 */
}
