.navbar {
  width: 100%;
  background-color: black;
  padding: 15px 0px;
  display: flex;
  align-items: center; /* 세로 가운데 정렬 */
  border: 2px solid;
}

.navbarMenu {
  color: white;
  font-size: 25px;
  margin: 8px;
  text-decoration: none;
  margin-left: 50px;
  margin-top: 100px;
}

.navbar img {
  margin-right: 20px; /* 로고와 메뉴 사이 간격 조정 */
}

.divider {
  color: white;
  margin: 0 8px;
  font-size: 25px;
  margin-left: 40px;
  margin-top: 90px;
}

.navbarlogo {
  margin-left: 100px;
  margin-top: 70px;
}
